<div id="navbar">
<% if (locals.nev) { %>
  <span><%= locals.nev %></span>
  <span><a href="/">Hirdetesek</a></span>
  <span><a href="inserteles">Inserteles</a></div></span>
  <% } else { %>
    <span><a href="/">All Ads</a></span>
    <span><a href="inserteles">Sell your car</a></div></span>
  <% } %>
</div>